@import 'config.scss';

.smokeyinfo{
	min-height:100vh;
	&__img{
		width:55%;
		img{
			max-width:90%;
		}
	}
	&__txt{
		width:45%;
	}
}


//TODO: move to main.scss?
.fadeIn2{
	opacity:0;
	transform:translateY(60px);
}
