@import 'config.scss';


.chat{
	min-height:100vh;
	&__header{
		padding:1em;
		.chat__link{
			background-color: rgba(255, 255, 255, 0.51);
			a{
				padding:0.5em 0.75em;;
				svg{
					margin-right:0.3em;
				}
			}
		}
	}

	.window{
		width:100%;
		background-color:white;
		border-radius:5px;
		overflow:hidden;
		box-shadow:0px 10px 10px rgba(0, 0,0,0.25);

		&__header{
			background-color:$primary;
			padding:0.5em;
			h2{
				color:white;
				text-align:center;
				margin:0;
			}
		}

		&__body{
			//TODO: This doesn't seem responsive;
			height:70vh;
			overflow:scroll;
			padding:1em;
			.msg{
				opacity:0;//Animation
				transform:translateY(10px);// Animation
				margin-bottom:0.5em;
				&__avatar{
					width:35px;
					height:35px;
					border-radius:50%;
				}
				&__txt{
					margin:0;
					padding:0.5em;
					border-radius:5px;
					max-width:60%;
				}
				&-smokey{
					.msg__avatar{
						margin-right:0.75em;
					}
					.msg__txt{
						background-color:#D5D5D5;
					}
				}
				&-user{
					justify-content:flex-end;
					.msg__avatar{
						order:2;
						margin-left:0.75em;
					}
					.msg__txt{
						background-color:lighten($primary,20%);
					}
				}
			}
		}


		&__input{
			background-color:$primary;
			padding:0.5em 1em;
			input{
				width:100%;
				font-size:1rem;
			}
			.sendIcon{
				border:none;
				background:none;
				color:white;
				cursor:pointer;
				margin-left:0.5em;
			}
		}
	}
}
