@import 'config.scss';


.chat{
	min-height:100vh;
	&__header{
		padding:1em;
		.chat__link{
			background-color: rgba(255, 255, 255, 0.51);
			a{
				padding:0.5em 0.75em;;
				svg{
					margin-right:0.3em;
				}
			}
		}
	}

	.window{
		width:100%;
		background-color:white;
		border-radius:5px;
		overflow:hidden;

		&__header{
			background-color:$primary;
			padding:0.5em;
			h2{
				color:white;
				text-align:center;
				margin:0;
			}
		}

		&__body{
			//TODO: This doesn't seem responsive;
			height:70vh;
			overflow:scroll;
			padding:1em;
			.msg{
				opacity:0;//Animation
				transform:translateY(10px);
				margin-bottom:0.5em;
				&__txt{
					margin:0;
					padding:0.5em;
					border-radius:5px;
				}
				&-smokey{
					.msg__txt{
						background-color:#D5D5D5;
					}
				}
				&-user{
					justify-content:flex-end;
					.msg__txt{
						background-color:lighten($primary,20%);
					}
				}
			}
		}


		&__input{
			background-color:$primary;
			padding:0.5em 1em;
			input{
				width:100%;
			}
			.sendIcon{
				border:none;
				background:none;
				color:white;
				cursor:pointer;
				margin-left:0.5em;
			}
		}
	}
}