

$primary:#C9D298; //light greenish color; primary color in chatbot page
$secondary:#FFE7A8; //beige/brownish color; use as img backdrop

//282828 Hero color
$grey-dark:#000; //Typography header color
$grey:#444; //Typography body color
