@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');
@import 'config.scss';

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Playfair Display', serif;
}

#root{ //Necessary for sticky footer
	min-height:100vh;
	min-width:100%;
	display:flex;
	flex-direction: column;
}

ul{
	list-style-type:none;
}


// TYPOGRAPHY-----------------------------------------------------------------
h1,h2,h3,h4{ //TODO: prolly have to adjust this value later
	margin-bottom:0.3em;
	line-height:1.2;
}


h1{
	font-size:clamp(1.68rem,5vw,2.25rem);
	&.nonresp{ font-size:2.25rem; }
}

h2{
	font-size:clamp(1.5rem,4vw,2rem);
}

h3{
	font-size:clamp(1.125rem,3vw,1.5rem);
}

h4{
	font-size:clamp(0.85rem,3vw,1.125rem);
}

h5{
	font-size:1rem;
	line-height:1;
}

a,span,p{
}

a{
	text-decoration:none;
}


p{
	font-size:clamp(0.8rem,2vw,1rem);
	line-height:2;
	margin-bottom:1em;

	&.subtitle{
		font-weight:600;
	}
	&.body{
	}
	&.nonresp{
		font-size:1rem;
	}
}

// UTILITY CLASSES------------------------------------------------------------
.flex{
	display:flex;
	&.flex-column{
		flex-direction:column;
	}
	&.flex-wrap{
		flex-wrap:wrap;
	}
	&.jc-center{
		justify-content:center;
	}
	&.jc-sb{
		justify-content: space-between;
	}
	&.jc-sa{
		justify-content: space-around;
	}
	&.jc-fstart{
		justify-content:flex-start;
	}
	&.ai-center{
		align-items:center;
	}
	&.ai-fend{
		align-items:flex-end;
	}
}


.container{
	width:90%;
	max-width:1200px;
	margin:0 auto;
	&-sm{ max-width:450px; }
	&-md{ max-width:900px; }
}
