@import 'config.scss';


.footer{
	background-color:darken($primary,60%);
	padding:4em 0;
	.footer-text{
		text-align:center;
		margin:0 auto 1em auto;
		max-width:45ch;
		color:white;
		text-transform:capitalize;
	}
	&__row{
		.footer__col{
			width:33%;
			p{
				color:#ffffffbf;
				border-bottom:1px solid;
			}
			.logo{
				max-height:100px;
				max-width:250px;
			}
		}
	}
}


@media (max-width:700px){
	.footer{
		&__row{
			flex-direction:column;
			.footer__col{
				width:100%;
			}
			.footer__col+.footer__col{
				margin-top:1.5em;
			}
		}
	}
}
